.customer-modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.customer-modal {
  background: white;
  width: 420px;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  animation: fadeIn .25s ease;
  max-height: 85vh;
  overflow-y: auto;
}

.customer-option {
  padding: .8rem;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: .2s;
}

.customer-option:hover {
  background: #edf2ff;
  border-color: #0A66C2;
}
