.pos-list-box {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.pos-search input {
  padding: .7rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: .7rem;
}

/* Scrollable List */
.pos-product-items-container {
  overflow-y: auto;
}

/* Item Card */
.pos-item {
  background: #f1f5f9;
  padding: .8rem;
  margin-bottom: .5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transition: .2s;
}
.pos-item:hover { background: #e2e8f0; }
