.pos-list-box {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pos-product-items-container {
  overflow-y: auto;
}
